</div>
</div>
<footer class="bg-dark text-center text-white">
  <div class="container p-4 pb-0">
    <section>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/profile.php?id=100011270055911"
        role="button" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/justtt.ved/" role="button"
        target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/vedank-singh-598132217/" role="button" target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/vedank1812" role="button"
        target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">© 2023 Vedank</div>
</footer>


</body>

</html>