<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Daily Journal</title>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="head-body" style="min-height: calc(100vh - 159.238px)">
      <header class="p-3 bg-dark text-white d-flex align-items-center">
        <h3 class="navbar-header d-inline pl-1">DAILY JOURNAL</h3>
        <div class="container d-flex justify-content-end">
          <div
            class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
          >
            <ul
              class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
            >
              <li><a href="/" class="nav-link px-2 text-blue">Home</a></li>
              <li>
                <a href="/compose" class="nav-link px-2 text-blue">Compose</a>
              </li>
              <li>
                <a href="/about" class="nav-link px-2 text-blue">About</a>
              </li>
              <li>
                <a href="/contact" class="nav-link px-2 text-blue">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </header>
      <div class="container main py-5">