<%-include("partials/header"); -%>
<div class="p-5 bg-light rounded-3">
  <div class="container-fluid">
    <h1 class="display-5 fw-bold text-center pb-3">About</h1>
    <p class="fs-4">
      Daily Journal is a platform that helps individuals document and reflect on
      their daily experiences.We believe that keeping a journal is a powerful
      tool for personal growth, self-discovery, and mental well-being .Our
      website is designed to make journaling easy and accessible for
      everyone.<br />Our team is composed of experienced professionals who are
      passionate about the benefits of journaling.<br />We believe that
      journaling is a private and personal activity, which is why we have made
      security and privacy our top priority. All of your entries are securely
      stored and protected with state-of-the-art encryption.We believe that
      journaling should be accessible to everyone, which is why we offer our
      service for free. We are constantly working to improve our platform and
      add new features to enhance your journaling experience.Thank you for
      choosing Daily Journal, we are happy to be part of your journey of
      self-discovery and personal growth.
    </p>
  </div>
</div>
<%-include("partials/footer"); -%>
